@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navbar related style */

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 50px 120px;
  align-items: center;
}
.navigation-menu {
  display: flex;
}
.navigation-menu li {
  list-style: none;
  margin-right: 30px;
}
.navigation-menu li a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 500;
}
.logo h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3a3a3a;
}
.navbar-icon {
  font-size: 1.5rem;
}

/* hero section related style */

.hero-container {
  display: flex;
  margin: 10px 120px;
}
.hero-image {
  background-image: url(images/Circle\ design.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-image img {
  width: 100%;
}
.hero-content {
  width: 582px;
  height: 270px;
  margin: 0 auto;
  margin-left: 0;
  margin-top: 50px;
}
.hero-content .hero-title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #3a3a3a;
}
.hero-content .hero-description {
  font-weight: 500;
  color: #3a3a3a;
  margin-bottom: 1rem;
}
.hero-content .hero-btn {
  background: #e02c6d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 41px;
  font-weight: 700;
}

/* sponsor section related style */

.sponsor {
  width: 1110px;
  height: 110px;
  margin: 0 auto;
  margin-top: 80px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 120px;
}
/* Collection section style */
.Collection-container {
  width: 1047px;
  height: 1662px;
  margin: 0 auto;
}
.collection-conetent-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.Collection-container .collection-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 50px;
}
.collection-content {
  width: 329px;
  height: 476px;
  background: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
.collection-content-image {
  width: 300px;
  height: 256px;
  margin: 15px auto;
}
.collection-content h3 {
  font-size: 1.7rem;
  font-weight: 500;
  color: #18191f;
  margin-left: 15px;
  margin-bottom: 10px;
}
.collection-content h5 {
  font-size: 1.5rem;
  color: #000;
  margin-left: 15px;
  margin-bottom: 5px;
}
.rating .checked {
  color: orange;
}
.rating {
  margin-left: 15px;
}
.collection-content p {
  font-size: 0.8rem;
  color: #787885;
  margin-left: 15px;
}
.see-more {
  color: rgba(224, 44, 109, 0.87);
  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  .navbar,
  .navigation-menu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .hero-container {
    flex-direction: column-reverse;
    margin: 0 30px;
  }

  .hero-content {
    width: 100%;
    height: auto;
  }
  .hero-content .hero-title,
  .hero-description,
  .hero-button {
    text-align: center;
  }
  .sponsor {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    border: none;
  }
  .collection-conetent-parent {
    grid-template-columns: repeat(1, 1fr);
    /* justify-content: center; */
    /* align-items: center; */
  }
  .Collection-container {
    width: 100%;
  }
  .collection-content {
    width: 80%;
    margin: 0 auto;
  }
  .collection-content-image img {
    width: 100%;
  }
  .see-more {
    margin-left: 40px;
  }
}
